.featured_listings
  - @listings.each do |listing|

    .single_featured_listing
      .image_area
        - if listing.images?
          = image_tag listing.images.first.image.url 
        - else
          = image_tag "http://c15062414.r14.cf2.rackcdn.com/uploads/50049690b48f665322000101_11-132422_1.jpg"
      .content_area
        .address
          = link_to listing.location.county, '#'

        .city
          = listing.location.city
      
        .price
          = number_to_currency listing.price
      
        .bed_bath_sq_foot
          #{listing.beds} Bed, #{listing.baths} Bath, #{listing.square_feet} Sq Ft