.page
  .header
    .title
      = t(".title").html_safe
  .content
    %table.table.table-bordered
      %thead
        %tr
          %th Title
          %th Total
          %th Invoice Created
          %th Invoice Paid
          %th.action_row Actions

      %tbody
        - @transactions.each do |transaction|
          %tr
            %td
              = transaction.title
            %td
              $
              = transaction.base_amount
            %td
              = transaction.created_at.strftime("%m/%d/%Y %l:%M %P")
            %td
              = transaction.transaction_date.strftime("%m/%d/%Y %l:%M %P")
            %td.action_links
              = link_to dashboard_transaction_path(transaction) do
                %i.icon-search
