%a{:name => "section_5_0"}
.section
  %h1 5.0 - Colors
  %p Contains all color elements for TimeSupply.com

  = styleguide_block '3.1.2' do
    .black{:class => "$modifier_class", :style => "width: 200px; height: 50px;"}

  = styleguide_block '3.1.3' do
    .blue{:class => "$modifier_class", :style => "width: 200px; height: 50px;"}

  = styleguide_block '3.1.4' do
    .red{:class => "$modifier_class", :style => "width: 200px; height: 50px;"}

  = styleguide_block '3.1.5' do
    .green{:class => "$modifier_class", :style => "width: 200px; height: 50px;"}

  = styleguide_block '3.1.6' do
    .purple{:class => "$modifier_class", :style => "width: 200px; height: 50px;"}

  = styleguide_block '3.1.7' do
    .orange{:class => "$modifier_class", :style => "width: 200px; height: 50px;"}