.styleguide-example
  %h3
    Section: 
    = section.section
    %em
      = section.filename
  .styleguide-description
    %p
      = section.description
    - if section.modifiers.any?
      %ul.styleguide-modifier
        - section.modifiers.each do |modifier|
          %li
            %strong
              = modifier.name
              \ - 
              = modifier.description
  .styleguide-element
    = example_html.gsub('$modifier_class', "").html_safe
  - section.modifiers.each do |modifier|
    .styleguide-element.styleguide-modifier
      %span.styleguide-modifier-name
        = modifier.name
      = example_html.gsub('$modifier_class', " #{modifier.class_name}").html_safe
      
      
  .styleguide-html
    .highlight
      %pre
        - example = example_html.gsub('$modifier_class', "").gsub(/>\s*</, ">\r<")
        = %[#{example}]