= link_to 'New Post', new_dashboard_facebook_post_path, :class => 'btn btn-primary pull-right'
%h1 Listing posts

%table.table.table-bordered
  %thead
    %tr
      %th Title
      %th Page
      %th Date Scheduled
      %th Status
      %th.action_row Actions

  %tbody
    - @facebook_posts.each do |facebook_post|
      %tr
        %td
          = truncate(facebook_post.message, :length => 25, :omission => '...')
        %td
          = image_tag facebook_post.facebook_page.picture, :size => '20x20'
          = link_to truncate(facebook_post.facebook_page.name, :length => 25), facebook_post.facebook_page.link, :title => facebook_post.facebook_page.name
        %td
          = facebook_post.publish_on.strftime("%m/%d/%Y %l:%M %P")
        %td
          - if facebook_post.published
            Posted
          - else
            Scheduled
        %td
          = link_to 'Edit', edit_dashboard_facebook_post_path(facebook_post)
          = link_to 'Destroy', dashboard_facebook_post_path(facebook_post), :confirm => 'Are you sure?', :method => :delete
