= semantic_form_for @page do |f|
  = f.inputs do
    = f.input :title
    = f.input :content
    = f.input :account_id
    = f.input :seo_title
    = f.input :seo_meta
    = f.input :seo_desc

  = f.actions do
    = f.action :submit, :as => :input
