.page
  .header
    .title
      = t(".title").html_safe
      
  .content
  
    .widget.span4
      .title
        %i.icon-home
        Latest Listings
      .content
        %table.table
          %tbody
            
            - @listings.each do |listing|
              %tr
                %td
                  - if listing.images? 
                    = image_tag listing.images.first.image.thumb.url if listing.images?
                  - else
                    %i.icon-home
                %td
                  = listing.location.address
                  %br
                  = listing.listing
  
    .widget.span4
      .title
        %i.icon-home
        Latest Listings
      .content
        %table.table
          %tbody
            
            - @listings.each do |listing|
              %tr
                %td
                  %i.icon-home
                  -# = listing.listing
                %td
                  = listing.location.address
                  %br
                  = listing.listing
                  
                  