%h3.heading Settings
= semantic_form_for [:dashboard, current_account], :url => 'settings' do |f|
    
  = f.inputs 'Personal' do
    = f.input :first_name
    = f.input :last_name
    = f.input :email, :as => :email
    = f.input :phone, :hint => 'Ex: (555) 555-5555'
    = f.input :internal_agent_nrds_id
    

    = f.semantic_fields_for :location do |location|
      = location.input :address_1
      = location.input :address_2
      = location.input :city
      = location.input :state, :collection => us_states, :include_blank => false
      = location.input :zip
  
  = f.inputs 'Site Settings' do
    = f.input :subdomain
    = f.input :settings_site_title
  
    
    

    


    

  = f.actions do
    = f.action :submit, :as => :input