.page
  .header
    .links
      = link_to new_dashboard_blog_path, :class => t("dashboard.blogs.buttons.add.css"), :title => t("dashboard.blogs.buttons.add.title") do
        = t("dashboard.blogs.buttons.add.content").html_safe
    .title
      = t(".title").html_safe
      
  .content

    %table.table.table-bordered
      %thead
        %tr
          %th Title
          %th Views
          %th Created
          %th Updated
          %th.action_row Actions

      %tbody
        - @blogs.each do |blog|
          %tr
            %td
              = blog.title
            %td
              = blog.views
            %td
              = blog.created_at.strftime("%m/%d/%Y %l:%M %P")
            %td
              = blog.updated_at.strftime("%m/%d/%Y %l:%M %P")

            %td.action_links
              = link_to edit_dashboard_blog_path(blog) do
                %i.icon-edit
              = link_to dashboard_blog_path(blog), :confirm => t("dashboard.blogs.buttons.delete.confirm"), :method => :delete do
                %i.icon-trash