= link_to 'New Blog', new_dashboard_blog_path, :class => 'btn btn-primary pull-right'
%h1 Listing blogs

%table.table.table-bordered
  %thead
    %tr
      %th Title
      %th Created
      %th Updated
      %th.action_row Actions

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td
          = blog.created_at.strftime("%m/%d/%Y %l:%M %P")
        %td
          = blog.updated_at.strftime("%m/%d/%Y %l:%M %P")

        %td
          = link_to 'Show', dashboard_blog_path(blog)
          = link_to 'Edit', edit_dashboard_blog_path(blog)
          = link_to 'Destroy', dashboard_blog_path(blog), :confirm => 'Are you sure?', :method => :delete
