.page
  .header
    .links
      = link_to new_dashboard_blog_path, :class => 'btn btn-primary pull-right' do
        %i.icon-plus
        New Blog        
    .title
      %i.icon-comments
      Blog Posts
      
  .content

    %table.table.table-bordered
      %thead
        %tr
          %th Title
          %th Comments
          %th Views
          %th Created
          %th Updated
          %th.action_row Actions

      %tbody
        - @blogs.each do |blog|
          %tr
            %td= blog.title
            %td
              = link_to blog.comments.length, dashboard_manage_comments_path(blog)
            %td= blog.views
            %td
              = blog.created_at.strftime("%m/%d/%Y %l:%M %P")
            %td
              = blog.updated_at.strftime("%m/%d/%Y %l:%M %P")

            %td.action_links
              
              = link_to edit_dashboard_blog_path(blog) do
                %i.icon-edit
                
              = link_to dashboard_blog_path(blog), :confirm => 'Are you sure?', :method => :delete do
                %i.icon-trash


