%p#notice= notice

%p
  %b Title:
  = @blog.title
%p
  %b Content:
  = @blog.content
%p
  %b Published:
  = @blog.published
%p
  %b Seo title:
  = @blog.seo_meta_title
%p
  %b Seo meta:
  = @blog.seo_meta_keys
%p
  %b Seo desc:
  = @blog.seo_meta_desc

= link_to 'Edit', edit_dashboard_blog_path(@blog)
\|
= link_to 'Back', dashboard_blogs_path(@blog)
