%ol
  - page.children.each do |child|
    %li{:id => "page_#{child.id}"}
      %div
        %span.actions.pull-right
          = link_to edit_dashboard_page_path(child) do
            %i.icon-edit.action_links
          = link_to dashboard_page_path(child), :confirm => t("dashboard.pages.buttons.delete.confirm"), :method => :delete do
            %i.icon-trash.action_links
        %i.icon-move.action_links
        = child.title
        
        - if child.page_type == 2
          %span.badge.badge-success
            Facebook Page
        - elsif child.page_type == 3
          %span.badge.badge-success
            Home Page
        - elsif child.page_type == 4
          %span.badge.badge-success
            Contact Page
        - elsif child.page_type == 5
          %span.badge.badge-success
            Listings Page
        - elsif child.page_type == 6
          %span.badge.badge-success
            Blog Page
        - else
        
      = render 'children', :page => child unless child.leaf?