
= render 'dev/shared/section_0_0'
= render 'dev/shared/section_1_0'
= render 'dev/shared/section_2_0'
= render 'dev/shared/section_3_0'
= render 'dev/shared/section_4_0'
= render 'dev/shared/section_5_0'
= render 'dev/shared/section_6_0'
= render 'dev/shared/section_7_0'
= render 'dev/shared/section_8_0'
= render 'dev/shared/section_9_0'
= render 'dev/shared/section_10_0'



