settings
= semantic_form_for [:dashboard, @account], :url => 'settings' do |f|
  = f.inputs do
    = f.input :subdomain
    
    = f.semantic_fields_for current_realtor do |realtor|
      = realtor.input :internal_agent_nrds_id

    = f.semantic_fields_for :location do |location|
      = location.input :address_1
      = location.input :address_2
      = location.input :city
      = location.input :state, :collection => us_states, :include_blank => false
      = location.input :zip

  = f.actions do
    = f.action :submit, :as => :input