!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title RE Social Builder
    = include_gon(:namespace => 'RESocialBuilder')
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "dashboard/application", :media => "all"
    = javascript_include_tag "application", "dashboard/application"
    
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to dashboard_path, :class => 'brand' do
              RE Social Builder

            .user_area.pull-right
              .username
                Welcome, 
                = current_account.name
              .circular_before
                .circular{:style => "background: url(#{current_account.fb_image}) top  no-repeat;"}
        
            -# %nav
            -#   .nav-form
            -#     %form
            -#       %input.dashboard_search.search-input{:autocomplete => "off", :name => "query", :placeholder => "Search...", :size => "16", :type => "text"}/

        

      #maincontainer.container          
        .row
          .span3
            .sidebar
              .sidebar_inner
                .accordion
                  %h3
                    %a{:href =>"#"}
                      %i.icon-folder-close
                      Dashboard
                  %div
                    %ul.nav.nav-list
                      %li#link_dashboard
                        = link_to 'Home', dashboard_path
                      %li#link_pages
                        = link_to 'Pages', dashboard_pages_path
                      %li#link_blogs
                        = link_to 'Blogs', dashboard_blogs_path
                      %li#link_facebook_posts
                        = link_to 'Facebook Posts', dashboard_facebook_posts_path
                        
                  %h3
                    %a{:href =>"#"}
                      %i.icon-th
                      Listings
                  %div
                    %ul.nav.nav-list
                      %li
                        = link_to 'View All Listings', '#'
                      %li
                        = link_to 'My Listings', '#'
                      %li
                        = link_to 'Set Featured Listings', '#'
                  
                  %h3
                    %a{:href =>"#"}
                      %i.icon-user
                      User/Leads                
                  %div
                    %ul.nav.nav-list
                      %li
                        = link_to 'Manage Users', '#'
                      %li
                        = link_to 'Manage Messages', '#'
                      %li
                        = link_to 'User Activity', '#'
                      %li
                        = link_to 'User Searches', '#'
                  
                  %h3
                    %a{:href =>"#"}
                      %i.icon-cog
                      Account Management
                  %div
                    %ul.nav.nav-list
                      %li.nav-header Account
                      %li#link_settings
                        = link_to 'Settings', dashboard_settings_path
                      %li
                        = link_to 'Facebook', '#'
                      %li.nav-header Billing
                      %li#link_transactions
                        = link_to "Statements (#{transactions_total})", dashboard_transactions_path
                      %li#link_cards
                        = link_to "Credit Cards (#{cards_total})", dashboard_cards_path
                      %li
                        = link_to 'Membership', '#'
                      %li.divider
                      %li
                        = link_to 'Help', '#'


          .span9
            %nav
              %ul.breadcrumb
                %li
                  = render_breadcrumbs :separator => ' / '
          
            = yield
          
        .copyright
          Copyright 2012 The Social Builder LLC
          