!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title RE Social Builder
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "dashboard/application", :media => "all"
    = javascript_include_tag "dashboard/application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #maincontainer.clearfix
      %header
        .navbar.navbar-fixed-top
          .navbar-inner
            .container-fluid
              = link_to dashboard_path, :class => 'brand' do
                %i.icon-home.icon-white
                RE Social Builder
              %ul.nav.user_menu.pull-right

                %li.divider-vertical.hidden-phone.hidden-tablet
                %li.dropdown
                  = link_to '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown" do
                    Johny Smith
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'My Profile', '#'
                    %li
                      = link_to 'Another action', '#'
                    %li.divider
                    %li
                      = link_to 'Log Out', '#'
              %nav
                .nav-collapse
                  %ul.nav
                    %li.dropdown
                      = link_to '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown" do
                        %i.icon-list-alt.icon-white
                        Forms
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to 'Form elements', '#'
                        %li
                          = link_to 'Extended form elements', '#'
                        %li
                          = link_to 'Form Validation', '#'
                    %li.dropdown
                      = link_to '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown" do
                        %i.icon-th.icon-white
                        Components
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to 'Alerts & Buttons', '#'
                        %li
                          = link_to 'Icons', '#'
                        %li
                          = link_to 'Notifications', '#'
                        %li
                          = link_to 'Tables', '#'
                        %li
                          = link_to 'Tabs & Accordion', '#' 
                        %li
                          = link_to 'Tooltips, Popovers', '#'
                        %li
                          = link_to 'Typography', '#'
                    %li.dropdown
                      = link_to '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown" do
                        %i.icon-wrench.icon-white
                        Plugins
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to 'Charts', '#'
                        %li
                          = link_to 'Calendar', '#'
                        %li
                          = link_to 'Datatable', '#'
                        %li
                          = link_to 'File Manager', '#'
                        %li
                          = link_to 'Floating List Header', '#'
                        %li
                          = link_to 'Google Maps', '#'
                        %li
                          = link_to 'Gallery Grid', '#'
                        %li
                          = link_to 'Wizard', '#'
                    %li.dropdown
                      = link_to '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown" do
                        %i.icon-file.icon-white
                        Pages
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to 'Error 404', '#'
                        %li
                          = link_to 'Search page', '#'
                        %li
                          = link_to 'User profile', '#' 
                    %li
                    %li
                      = link_to '#' do
                        %i.icon-book.icon-white
                        Help
        

      #contentwrapper
        .main_content
          %nav
            %ul.breadcrumb
              %li
                = render_breadcrumbs :separator => ' / '
          .row-fluid
            .span12
              = yield
        %aside
          
          .sidebar
            .sidebar_inner
              %form
                %input.search_query{:autocomplete => "off", :name => "query", :placeholder => "Search...", :size => "16", :type => "text"}/

              #side_accordion.accordion
                .accordion-group
                  .accordion-heading
                    = link_to '#collapseOne', :class => 'accordion-toggle', "data-parent" => "#side_accordion", "data-toggle" => "collapse" do
                      %i.icon-folder-close
                      Content
                  #collapseOne.accordion-body.collapse
                    .accordion-inner
                      %ul.nav.nav-list
                        %li
                          = link_to 'Pages', dashboard_pages_path
                        %li
                          = link_to 'Blogs', dashboard_blogs_path
                        %li
                          = link_to 'Comments', '#'
                .accordion-group
                  .accordion-heading
                    = link_to '#collapseTwo', :class => 'accordion-toggle', "data-parent" => "#side_accordion", "data-toggle" => "collapse" do
                      %i.icon-th
                      Listings
                  #collapseTwo.accordion-body.collapse
                    .accordion-inner
                      %ul.nav.nav-list
                        %li
                          = link_to 'View All Listings', '#'
                        %li
                          = link_to 'My Listings', '#'
                        %li
                          = link_to 'Set Featured Listings', '#'
                .accordion-group
                  .accordion-heading
                    = link_to '#collapseThree', :class => 'accordion-toggle', "data-parent" => "#side_accordion", "data-toggle" => "collapse" do
                      %i.icon-user
                      User/Leads
                  #collapseThree.accordion-body.collapse
                    .accordion-inner
                      %ul.nav.nav-list
                        %li
                          = link_to 'Manage Users', '#'
                        %li
                          = link_to 'Manage Messages', '#'
                        %li
                          = link_to 'User Activity', '#'
                        %li
                          = link_to 'User Searches', '#'
                .accordion-group
                  .accordion-heading
                    = link_to '#collapseFour', :class => 'accordion-toggle', "data-parent" => "#side_accordion", "data-toggle" => "collapse" do
                      %i.icon-cog
                      Account Management
                  #collapseFour.accordion-body.collapse.in
                    .accordion-inner
                      %ul.nav.nav-list
                        %li.nav-header Account
                        %li.active
                          = link_to 'Settings', '#'
                        %li
                          = link_to 'Facebook', '#'
                        %li.nav-header Billing
                        %li
                          = link_to 'Statements', '#'
                        %li
                          = link_to 'Credit Cards', '#'
                        %li
                          = link_to 'Membership', '#'
                        %li.divider
                        %li
                          = link_to 'Help', '#'
              .copyright
                Copyright 2012 The Social Builder LLC
              .sidebar_info
                %ul.unstyled
                  %li
                    %span.act.act-warning 65
                    %strong New comments
                  %li
                    %span.act.act-success 10
                    %strong New articles
                  %li
                    %span.act.act-danger 85
                    %strong New registrations