!!!
%html{:lang => "en"}
  %head
    %title RE Social Builder Website
    = stylesheet_link_tag    "profile/application", "profile/templates/#{current_profile.template}"
    = javascript_include_tag "application", "profile/application"
    = csrf_meta_tags

  %body.profile
    
    .container
    
      .header
        
        .logo
          = image_tag current_profile.logo.thumb.url
          
        .navigation
          %ul.main_navigation
            %li
              = link_to 'Home', '/'
            %li
              = link_to 'Listings', listings_path
            %li
              = link_to 'Blogs', blogs_path
            %li
              %a{:href => '#', 'data-link' => 'testing-the-pages-test'} About
            %li
              %a{:href => '#', 'data-link' => 'team'} Our Team
            %li
              %a{:href => '#', 'data-link' => 'contact'} Contact

      .main_content
        .column_left
          .yield
            = yield
        .column_right
          .sidebar
            = render_cell :widgets, :about_realtor
            = render_cell :widgets, :recent_blog_posts
            = render_cell :widgets, :text, :title => "TESTING", :content => "TESTING CONTENT"
            = render_cell :widgets, :facebook
            
        
          
    
      .footer
        Footer Here
      
    
