%p#notice= notice

%p
  %b Title:
  = @account.title
%p
  %b Site title:
  = @account.site_title
%p
  %b Subdomain:
  = @account.subdomain
%p
  %b Time zone:
  = @account.time_zone
%p
  %b Settings search min:
  = @account.settings_search_min
%p
  %b Settings search max:
  = @account.settings_search_max
%p
  %b Mls office:
  = @account.mls_office_id

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
